<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Garden Bed</title>
    <style>
        *{margin:0;padding:0;box-sizing:border-box;}
        #canvas{height:100vh;width:100vw;display:block;}
    </style>
    <script type="importmap">
        {
            "imports": {
                "three": "/three.min.js",
                "orbitControls": "/orbitControls.min.js"
            }
        }
    </script>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script type="module" src="/garden-bed.js"></script>
</body>
</html>
