<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Patio Table</title>
        <style>
            *{margin:0;padding:0;box-sizing:border-box;}
            #canvas{height:100vh;width:100vw;display:block;}
            .label{color:#ffffff;font-family:sans-serif;padding:2px;background:rgba(0,0,0,0.6);font-size:10px;}
            #specs{height:100%;width:250px;position:fixed;top:0;left:0;background:rgb(200,200,200);overflow:auto;}
        </style>
        <script type="importmap">
            {
                "imports": {
                    "three": "/three.js",
                    "orbitControls": "/orbit-controls.js",
                    "2dRenderer": "/css-2d-renderer.js",
                    "Board": "/objects/board.js",
                    "setup": "/objects/setup.js"
                }
            }
        </script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div id="specs">
            <h3>Materials</h3>
        </div>
        <script type="module" src="/patio-table.js"></script>
    </body>
</html>
